.favourite {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    background-image: ("https://images.pexels.com/photos/1831234/pexels-photo-1831234.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-repeat: no-repeat;
    background-size: cover;
    height: 82vh;
  }
  
  .favourite-cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }
  
  .favourite-card {
    background-color: white;
    text-align: center;
    padding: 10px;
  }
  
  .alert-login {
    background-color: rgb(245, 234, 239);
    padding: 10px;
    text-align: center;
  }
  
  .delete-button {
    background-color: rgb(177, 47, 24);
    padding: 10px;
    color: white;
  }
  
  .delete-button:hover {
    opacity: 0.7;
  }
  
  @media only screen and (min-width: 961px) {
    .favourite {
      grid-column: 1 / 4;
      grid-row: 2 / 3;
      background-repeat: no-repeat;
      background-size: cover;
      height: auto;
      margin-top: 0px;
    }
    .favourite-cards {
      grid-template-columns: repeat(4, 1fr);
      padding: 20px;
    }
  }